CONSUMER_KEY=""
CONSUMER_SECRET=""
CALLBACK_URL=""
VOUCH_DAO_PROCESS_ID="ZTTO02BL2P-lseTLUgiIPD9d0CF1sc4LbMA2AQ7e9jo"
VOUCH_CONTRACT="ZTTO02BL2P-lseTLUgiIPD9d0CF1sc4LbMA2AQ7e9jo"
TWITTER_BEARER_TOKEN=""
VOUCHER_WALLET=""
VOUCHER_ADDRESS=""
VOUCHER_NAME=""


# Feishu webhook url, for sending alerts
WEBHOOK_URL="https://open.feishu.cn/open-apis/bot/v2/hook/xxxxxxxx"